=render layout: "stecms_coupon/shared/coupon_panel" do
  =render layout: 'form' do |f|
    =render_card_box title: t("admin.survey_form.edit.title", promo: @promo.name), collapse: false do
      =render 'stecms_coupon/survey_forms/errors', f: f
      =render 'stecms_coupon/survey_forms/parts/general', f: f

    =render 'stecms_coupon/survey_forms/parts/questions', f: f
