-# <!-- <h1>New Coupon</h1>
-# <%= render 'form' %>
-# <%= link_to 'Back', coupons_path %> -->
=render layout: "stecms_coupon/shared/coupon_panel" do
  =render_card_box title: t("admin.coupon.new.title"), collapse: false do
    =render 'form'
