=form_for @promo do |f|
  - if @promo.errors.any?
    .alert.alert-danger{role: "alert"}
      %h4.alert-heading
        =t("errors.template.header", model: f.object.model_name.human, count: @promo.errors.count)
      %hr
      -@promo.errors.full_messages.each do |message|
        %div=message

  .form-row
    .col-sm-6
      .form-row
        .col-12
          %h6.text-primary
            =t("admin.promo.form.general")
      .form-row
        .form-group.col-12
          =f.label :name
          =f.text_field :name, class: 'form-control'
        .form-group.col-12
          =f.label :identifier
          =f.text_field :identifier, class: 'form-control', readonly: f.object.persisted?

        .form-group.col-12
          .form-check.backend-checkbox.check-left.mb-1.inline-check.mb-sm-0
            =f.check_box :active, class: 'form-check-input'
            =f.label :active, class: 'form-check-label'

          .form-check.backend-checkbox.check-left.mb-1.inline-check.mb-sm-0
            =f.check_box :visible, class: 'form-check-input'
            =f.label :visible, class: 'form-check-label'

          .form-check.backend-checkbox.check-left.mb-1.inline-check.mb-sm-0
            = f.check_box :answer, class: 'form-check-input'
            = f.label :answer, class: 'form-check-label'

      %hr.mt-2.mb-3

      .form-row
        .col-12
          %h6.text-primary
            =t("admin.promo.form.validity")

        .form-group.col-12.col-sm-6
          =f.label :valid_from
          =f.text_field :valid_from, class: 'flatpicker form-control'
        .form-group.col-12.col-sm-6
          =f.label :valid_until
          =f.text_field :valid_until, class: 'flatpicker form-control'

      %hr.mt-2.mb-3

      .form-row
        .col-12
          %h6.text-primary
            =t("admin.promo.form.coupon_usage")

        .form-group.col-12.col-sm-6
          =f.label :coupon_usable_from
          =f.text_field :coupon_usable_from, class: 'flatpicker form-control'
        .form-group.col-12.col-sm-6
          =f.label :coupon_usable_until
          =f.text_field :coupon_usable_until, class: 'flatpicker form-control'

      .form-row
        .form-group.col-12.col-sm-6
          =f.label :usage_time_per_device
          =f.text_field :usage_time_per_device, class: 'form-control'

        .form-group.col-12.col-sm-6
          =f.label :usage_coupon_times
          =f.text_field :usage_coupon_times, class: 'form-control'

    .col-sm-6
      .card.mb-0
        - if f.object.cover.present?
          =image_tag(f.object.cover.manipulate(size: '400x200').url, class: 'card-img-top')
        .card-body
          =f.label :cover
          =f.file_field :cover, class: 'form-control'


  %hr.mt-2.mb-3

  .form-row.mb-2.align-items-end
    .form-group.col-12
      =f.label :description
      =f.text_area :description, class: 'form-control', rows: 5


  .fixed-buttons
    =f.submit class: 'btn btn-primary'

    - if f.object.survey.present?
      =link_to t("admin.promo.form.edit_survey"), edit_promo_survey_form_path(f.object, f.object.survey), class: 'btn btn-danger'
    - else
      - if f.object.persisted?
        =link_to t("admin.promo.form.add_survey"), new_promo_survey_form_path(f.object), class: 'btn btn-danger'
