=render layout: "stecms_coupon/shared/coupon_panel" do
  =render_card_box title: t("admin.promo.edit.title", name: @promo.name.present? ? @promo.name : @promo.name_was), collapse: false do
    =render 'form'
